<h1>Editing reg class</h1>

<%= render "form", reg_class: @reg_class %>

<br>

<div>
  <%= link_to "Show this registered class", @reg_class %> |
  <%= link_to "Back to registered classes", reg_classes_path %>
</div>
