<h1>Editing avail course</h1>

<%= render "form", avail_course: @avail_course %>

<br>

<div>
  <%= link_to "Show this avail course", @avail_course %> |
  <%= link_to "Back to avail courses", avail_courses_path %>
</div>
