<div class="btn-container">
    <div class="bdy-box">

    <h1>About</h1>
        <p>
        For this project, we have developed a web-based course search and registration website utilizing Ruby. <br>
        Ruby uses SQLite by default, so, for simplicity, we will use SQLite for our DBMS. <br>
        The final version of this project is a web interface that allows the user to 
        create a student account, sign in, search for classes, and register.  <br>
        The system currently allows students to view and register classes offered by their major, as well as see their current schedule. <br> 
        </p>
    </div>
</div>